.login-container{
      width: 100%;
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      padding-left: 6rem;
      position: relative;

     .logo{
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;

            .brand-logo{
                  height: 15%;
                  width: 25%;
                  object-fit: cover;
                  margin: 5rem 0 12rem 6rem;
            }

            .login-image{
                  width: 45rem;
                  height: 20rem;
                  object-fit: cover;
                  margin: 3rem 0 0 5rem;
            }
     }

     .content{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 2rem;
      margin-top: 10rem;
      font-family: var(--work-sans-font);

      h1{
            font-size: 3rem;
            color: var(--secondary-color);
      }
      .text{
            color: var(--text-color);
            font-size: 1.2rem;
            line-height: 27px;
            margin-top: 0.5rem;
            margin-bottom: 6rem;
      }

      div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 4rem;
            width: 42rem;
            border: 1px solid rgba(84, 95, 125, 0.149);
            margin-top: 2rem;
            padding: 0 1.6rem;
            border-radius: 5px;

            input{
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: var(--text-color);
                  border: 0;
                  outline: 0;
                  
                  &::placeholder{
                        color: var(--text-color);
                  }
            }

            p{
                  font-size: 0.8rem;
                  font-weight: 600;
                  color: var(--primary-color)
            }
      }

      .forgot-password{
            font-weight: 600;
            font-size: 1rem;
            color: var(--primary-color);
            margin: 2.4rem 0 3rem 0;
      }

      button{
            width: 42rem;
            height: 4rem;
            outline: 0;
            border: 0;
            font-size: 1.4rem;
            font-weight: 600;
            border-radius: 8px;
            color: var(--white-color);
            background-color: var(--primary-color);
      }
     }

     .link{
      position: absolute;
      top: 3%;
      right:5%;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      text-decoration: none;
      gap: 0.5rem;
      padding: 0.5rem 0.8rem;
      color: var(--white-color);
      border: 2px solid var(--primary-color);
      background-color: var(--primary-color);
      border-radius: 3px;

      &:hover{
            background-color: var(--white-color);
            color: var(--primary-color)
      }
     }
}

@media screen and (max-width: 850px) {
      .login-container{
      flex-direction: column;
      gap: 0;
      padding: 2rem 2rem 0 0;

            .logo{
            width: 100%;
            height: 0;
                  .login-image{
                        display:none;
                  }
            }

            .content{
            width: 100%;
            height: 0;
            margin-top: 22rem;
            align-items: center;
            padding-left: 0rem;
            text-align: center;
                 
                  .text{
                  line-height: 35px;
                  margin-bottom: 9rem;
                   }

                  div{
                  width: 50rem;
                  margin-top: 5rem;

                  }

                  .forgot-password{
                  text-align: left;
                  margin: 2.4rem 0 8rem 0;
                  }

            
                  button{
                  width: 50rem;
                }
            }
      }

}

@media screen and (max-width: 600px) {
      .login-container{
            padding: 0;

            .logo{
                 .brand-logo{
                  height: 2.1rem;
                  width: 10rem;
                  margin: 4rem 3rem;
            }
            }
            .content{
            margin-top: 17rem;

                  h1{
                  font-size: 3rem;
                  font-weight: 600;
                  }
                 
                  .text{
                  line-height: 30px;
                  margin-bottom: 5rem;
                   }

                  div{
                  width: 35rem;
                  }

            
                  button{
                  width: 35rem;
                }
            }

            .link{
                  font-size: 1rem;
                  padding: 0.3rem 0.7rem;
            }
      }

}