.container{
      width: 100%;
      height: 130%;
      margin-left: 0;
      overflow: hidden;
      background-color: var(--bg-color);

      .user-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: 600;

            .link{ 
                  display: flex;
                  align-items: center;
                  gap: 2rem;

                  a{
                        font-size: 2.3rem;
                        &:active{
                              color: var(--text-color);
                        }
                  }
            }
            
            .menu{
                  font-size: 2.4rem;
                  display: none;
      }

      }
      .user{
            color: var(--secondary-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3rem;
            
            p{
                  font-size: 2.4rem;
                  font-weight: 500;
            }

            button{
                  padding: 1rem 2rem;
                  background-color: var(--white-color);
                  border-radius: 8px;
                  font-weight: 600;
                  font-size: 1.4rem;
                  border: 2px solid;
                  &:active{
                        transform: translateY(3px);
                  }
            }

            .btn-blackList{
                  border-color: var(--dark-red);
                  color: var(--dark-red);
                  &:hover{
                        background-color: var(--dark-red);
                        color: var(--white-color);
                  }
            }

            .btn-activate{
                  border-color: var(--primary-color);
                  color: var(--primary-color);
                  margin-left: 1.5rem;
                  &:hover{
                        background-color: var(--primary-color);
                        color: var(--white-color);
                  }
            }
      }
      .summary{
            font-size: 1.4rem;
            margin-top: 4rem;
            width: 100%;
            box-shadow: 3px 5px 20px 0 rgba($color: #000000, $alpha: 0.04);
            border: 1px solid rgba(33, 63, 125, 0.06);
            border-radius: 4px;
            background-color: white;
            padding: 2rem 2rem 0 3rem;

            .basic-summary{
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 4rem;
                  width: 100%;
                  margin-bottom: 6rem;

                  img{
                        height: 10rem;
                        width: 10rem;
                        object-fit: cover;
                        border-radius: 50%;
                  }

                  .name{
                        font-size: 2.2rem;
                        margin-bottom: 1rem;
                        font-weight: 500;
                        color: var(--secondary-color);
                  }

                  .acc-num,
                  .tier,
                  .amt{
                        color: var(--text-color); 
                  }

                 .tier{
                        font-weight: 500;
                        margin-bottom: 0.5rem;
                  }
                  
                  .icons{
                        color: var(--yellow-color);
                        font-size: 1.7rem;
                  }

                  .amount{
                        color: var(--secondary-color);
                        font-size: 2.2rem;
                        font-weight: 600;
                        margin-bottom: 1rem;
                  }
                  .line{
                        height: 8rem;
                        width: 1px;
                        background-color: #545f7d21;
                  }
                  

            }

            .other-summary{
                  ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        list-style: none;
                        font-size: 1.6rem;
                        color: var(--text-color);
                        padding-right: 2rem;

                        li{
                              padding-bottom: 1rem;
                              cursor: pointer;

                              &:hover{
                                    color: var(--primary-color);
                              }

                              &:active{
                                    transform: translateY(2px);
                              }
                        }

                        li:first-child{
                              border-bottom: 3px solid var(--primary-color);
                              color: var(--primary-color);
                              font-weight: 500;
                              width: 16rem;
                              text-align: center;
                        }
                  }
            }
      }
}

@media screen and (max-width: 850px) {
      .container{
            .user-info{           
                  .menu{
                     cursor: pointer;
                     display: flex;
            }

            }
            .user{                  
                  p{
                        font-size: 2.2rem;
                  }

                  button{
                        padding: 1rem 1.8rem;
                        font-weight: 600;
                        font-size: 1.2rem;
                  }
            }
            .summary{
                  font-size: 1.2rem;
                  padding: 2rem 2rem 0 2rem;

                  .basic-summary{
                        margin-bottom: 4rem;
                        
                  }

                  .other-summary{
                        ul{
                              font-size: 1.3rem;

                              li:first-child{
                                    border-bottom: 1px solid var(--primary-color);
                              }
                        }
                  }
            }
      }

}

@media screen and (max-width:600px) {
      .container{
      .user-info{
            font-size: 1.3rem;

            .link{ 
                  gap: 1rem;

                  a{
                        font-size: 2rem;
                  }
            }
            
            .menu{
                  font-size: 2rem;
                  display: flex;
                  cursor: pointer;
      }

      }
      .user{
            
            p{
                  font-size: 2rem;
                  font-weight: 500;
            }

            .buttons{
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  gap: 1rem
            }

            button{
                  padding: 0.7rem 1.5rem;
                  border-radius: 6px;
                  font-weight: 400;
                  font-size: 1rem;
                  border: 1px solid;
            }
            .btn-activate{
                  margin-left: 0;
            }
      }
      .summary{
            font-size: 1rem;
            margin-top: 3rem;      
            padding: 2rem 2rem 0 2rem;

            .basic-summary{
                  gap: 1rem;
                  margin-bottom: 6rem;

                  img{
                        height: 7rem;
                        width: 7rem;
                  }

                  .name{
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                        font-weight: 500;
                  }

                 .tier{
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                  }
                  
                  .icons{
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                  }

                  .amount{
                         font-size: 1.8rem;

                  }
                  .line{
                        height: 7rem;
                        width: 1px;
                        background-color: #545f7d2a;
                  }
                  

            }

            .other-summary{
                  ul{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        gap: 1.5rem;
                        font-size: 1.4rem;
                        padding-right: 0rem;
                        padding-bottom: 0.5rem;

                        li{
                              padding-bottom: 0.5rem;
                        }

                        li:first-child{
                              border-bottom: 1px solid var(--primary-color);
                              font-weight: 500;
                              width: inherit;
                        }
                  }
            }
      }
}
}