.sidebar{
      padding-top: 3rem;
      font-size: 1.4rem;
      height: 100%;

      img{
            width: 42%;
            object-fit: cover;
            margin-bottom: 3rem;
            padding-left: 2rem;       
      }
            
      a,
      .org{
      display: flex;
      align-items: center;
      gap: 1rem;  
      text-decoration: none;          
      }

      .org{
      margin-bottom: 2.7rem;
      padding: 1.3rem 0 1.3rem 2rem;
      color: var(--secondary-color);
            &:hover{
            color: var(--secondary-color);
            background-color: var(--hover-color);
            }
      }

      .title{
      color: var(--secondary-color);  
      padding: 3rem 0 1rem 0; 
      padding-left: 2rem;            
      }

      .link{
      color: var(--light-blue);   
      padding: 1.3rem 0 1.3rem 2rem;
            &:hover{
            color: var(--secondary-color);
            background-color: var(--hover-color);
      }
}

}

.activeLink{
      background-color: var(--hover-color);
      border-left: 3px solid var(--active-color);
      color: var(--secondary-color);
}


@media screen and(max-width: 850px) {
      .sidebar{
      padding-top: 6rem;

}
}

@media screen and(max-width: 600px) {
      .sidebar{
     font-size: 1.3rem;
      }
}